.container {
  width: 100vw;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  max-width: 600px;
}

.container.category-menu{
  background-color: #fc4a1a
}

.container.difficulty-menu{
  background-color: #f7b733
}

.container.question-container{
  background-color: #4abdac;
}

.container.result{
  background-color: #f7b733
}

.container.error{
  background-color: #fc4a1a
}

.app-bar{
  padding: 20px;
  height: 55px;
  display: flex;
  flex-direction: row !important;
  align-items: center;
}

.menu {
  width: 100%;
  padding-top: 40px !important;
}

.menu-list-item {
  width: 100%;
  margin: 5px 0px;
  background-color: white;
  height: 50px;
}

.inner-list-item {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
}

.back {
  cursor: pointer;
}

.question-card{
  width: 95%;
}

.question {
  margin-top: 55px;
  width: 100%;
  padding: 10px;
  min-height: 30vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.answers {
  box-sizing: border-box;
  width: 100%;
}

.answer-card {
  margin-top: 10px;
}

.answer {
  padding: 20px !important;
  height: 100%;
  width: 100%;
}

.result-card{
  width: 95%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
}